<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="Features">
            <directory>tests/Features/*FeatureTest.php</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory>tests/Unit/*UnitTest.php</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="APP_DEBUG" value="true"/>
    </php>
</phpunit>
